/**
 * Header / Hero
 */

$hero-svg-width : 130px

.hero
	position: relative
	max-width: 40em
	margin: 8em auto

	h2
		font-size: 1.6em
		font-weight: normal
		margin-bottom: 1em

	.btn
		margin-right: 1em

	svg
		// position: absolute
		width: $hero-svg-width
		top: 0

	+MQ(tablet)
		margin: 2em auto
		text-align: center
		padding: 0 2em 2em
		flex-direction: column-reverse
		svg
			padding-top: 2.5em
			margin: 0 auto -2em
			width: 1.4 * $hero-svg-width
		.btn
			margin: 0.5em
