/**
 * Benchmarks Section
 */

.bench
	text-align: center

	img
		width: 3.5em
		display: block
		margin: 0 auto $base-unit

	.tab-content p
		align-self: center
		padding-right: 1.5em

	.bar-chart
		width: 55%
		position: relative
		padding-left: 5em

	figure
		position: relative
		max-width: 25em // 400
		padding: 1em 1em 0.5em
		border: 1px solid $red
		border-right: 0
		border-top: 0

	figcaption
		color: $red
		font-weight: bold
		max-width: 25em // 400
		padding-top: 0.5em
		text-transform: uppercase
		letter-spacing: 2px

	.bar
		width: 0 // trans start
		height: 2em // 32px
		line-height: 2em
		margin-bottom: 0.5em
		background: lighten($black, 20%)
		transition: width 300ms ease-in-out
		text-align: right
		&:first-of-type
			background: $red

		@for $i from 1 through 5
			&:nth-of-type(#{$i})
				transition-delay: $i * 100ms

		label
			position: absolute
			font-size: 0.8em
			min-width: 5em // 80px
			transform: translateX(-100%)
			left: -1em

