[flex]
	flex: 1

[flex="1.5"]
	flex: 1.5

[flex="2"]
	flex: 2

[dflex]
	display: flex

[column]
	flex-direction: column

[hreverse]
	flex-direction: row-reverse

[hwrap]
	flex-wrap: wrap

[acenter]
	align-items: center

[jend]
	justify-content: flex-end

[jbetween]
	justify-content: space-between

// [jcenter]
// 	justify-content: center
